<mat-progress-bar mode="indeterminate" *ngIf="peliculasData.length === 0"></mat-progress-bar>
<div class='principal'>
    <h2>Peliculas Recientes</h2>
    <div class="peliculas">
        <div *ngFor="let pelicula of peliculasData" class="caratula">
            <button mat-button (click)="goToPelicula(pelicula.id, pelicula.title)">
                <img class="image" src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ pelicula.poster_path }}">
            </button>
            <p>{{ pelicula.title }}</p>
        </div>
    </div>
    <h2>Series Recientes</h2>
    <div class="series">
        <div *ngFor="let serie of seriesData" class="caratula">
            <button mat-button (click)="goToSerie(serie.id, serie.name)">
                <img class="image" src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ serie.poster_path }}">
            </button>
            <p>{{ serie.name }}</p>
        </div>
    </div>
</div>
