<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon>theaters</mat-icon>
      <span routerLink="">Peliculas y Series</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink='/peliculas'routerLinkActive="mat-accent">Peliculas</button>
      <button mat-button routerLink='/series' routerLinkActive="mat-accent">Series</button>
      <button mat-button color='accent' routerLink='/template'> Registro </button>
      <button mat-button color='accent' routerLink='/reactivo'> Registro Reactivo </button>
    </mat-toolbar-row>
</mat-toolbar>